* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Style for the body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    
}
.table-wrapper{
    padding: 100px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.collapsible{
    display: none;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.back-button{
    margin: 5px;
    width: 1.5rem;
}
